# Ignorar compilaciones y binarios
target/
*.class

# Ignorar archivos temporales de IDEs
.idea/
.vscode/
*.log
*.tmp
*.bak
.vscode/credentials.json

# Ignorar otros archivos comunes
.DS_Store
Thumbs.db
