# Ignorar compilaciones y binarios
target/
*.class

# Ignorar archivos temporales de IDEs
.idea/
*.log
*.tmp
*.bak
tfgpoker/server/src/main/resources/credentials.json

# Ignorar Javadoc
tfgpoker/server/documentation

# Ignorar otros archivos comunes
.DS_Store
Thumbs.db

# Modelos de IA (muy pesados)
model/
model-llama/
model-qwen/
*.gguf
tfgpoker/.ipynb_checkpoints/Punto_0_final_bots-checkpoint.ipynb
