# Ignorar compilaciones y binarios
target/
*.class

# Ignorar archivos temporales de IDEs
.idea/
*.log
*.tmp
*.bak
tfgpoker/server/src/main/resources/credentials.json
release/

# Ignorar otros archivos comunes
.DS_Store
Thumbs.db

# Modelos de IA (muy pesados)
model/
model-llama/
model-qwen/

# Otros archivos
*.gguf
tfgpoker/.ipynb_checkpoints
*.zip