<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>
        <!-- Console Appender (DEBUG+) + use different colors for each level -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout 
                pattern="%d{yyyy/MM/dd HH:mm:ss} -> %highlight{[%-5level]}{
                        DEBUG=white,
                        INFO=green,
                        WARN=yellow,
                        ERROR=red,
                        FATAL=bright_red
                    } : %msg%n"/>
        </Console>

        <!-- Dynamic file appender -->
        <Routing name="FileRouter">
            <Routes pattern="${ctx:hand}">
                <Route>
                    <File name="File-${ctx:hand}" fileName="server/logs/match${ctx:match:-0}_hand${ctx:hand:-0}.log">
                        
                        <PatternLayout 
                            pattern="%d{yyyy/MM/dd HH:mm:ss} -> %-5level : %msg%n"/>

                        <ThresholdFilter level="info"
                                         onMatch="ACCEPT"
                                         onMismatch="DENY"/>

                    </File>
                </Route>
            </Routes>
        </Routing>



        <Routing name="PokerHistoryRouter">
            <Routes pattern="${ctx:match}-${ctx:hand}">
                <Route>
                    <File
                        name="PokerHistory-${ctx:match}-${ctx:hand}"
                        fileName="server/logs/history/match_${ctx:match:-0}/hand_${ctx:hand:-0}.log"
                        append="false"
                        createOnDemand="true"
                        immediateFlush="true">

                        <!-- Solo escribe el texto -->
                        <PatternLayout pattern="%msg%n"/>

                    </File>
                </Route>
            </Routes>
        </Routing>



    </Appenders>

    <Loggers>

        <Logger name="PokerHistory"
                level="info"
                additivity="false">

            <AppenderRef ref="PokerHistoryRouter"/>

        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!--  <AppenderRef ref="FileRouter"/> -->
        </Root>

       

    </Loggers>

</Configuration>