.root {
   -fx-background-image: url("../images/fondoPoker.png");
   -fx-background-size: cover;
   -fx-background-position: center;
}

/**
 * ARROWS
 */

.arrow-back-button {
    -fx-shape: "M 25 19 L 13 29 L 25 39 L 20 45 L 0 29 L 19 13 Z";
    -fx-background-color:radial-gradient(center 50% 50%, radius 50%, repeat, #66287a 0%, #692f79 25.8%, #3a0878 74.5%, #1e034f 94.8%, #201f4f 99.5%, #201f4f 100%); 
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.black-arrow-back-button{
    -fx-shape: "M 25 19 L 13 29 L 25 39 L 20 45 L 0 29 L 19 13 Z";
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, repeat, #2f1363 94.8%, #19183c 99.5%, #201f4f 100%);
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.arrow-next-button {
    -fx-shape: "M10 5 L30 15 L10 25 Z";
    -fx-background-color:radial-gradient(center 50% 50%, radius 50%, repeat, #66287a 0%, #692f79 25.8%, #3a0878 74.5%, #1e034f 94.8%, #201f4f 99.5%, #201f4f 100%); 
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.square-pane{
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-background-color: #1b0359;
    -fx-border-color: #ffffff;  
}

.oval-pane{
    -fx-background-radius: 50; 
    -fx-border-radius: 50;       
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-background-color: #1b0359;
    -fx-border-color: #ffffff;  
}

.configuration-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.exit-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.information-introduction-icon-button{
    -fx-background-color: linear-gradient( to top right, #310a93, #8500d7, #ff1fc2, #220470);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.information-card-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-shape: "M50,0 A50,50 0 1,1 49.99,0 Z";
    -fx-border-width: 3;
}