.root {
   -fx-background-image: url("/com/ucm/client/views/original/images/fondoPoker.png");
}

/**
 * Estilo para el menú lateral plegado
 */
.menu-plegado {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%,  #FFF8FF 50%,   #FFF8FF 50%, #DC8CFE 100% ),
      radial-gradient(center 50% 40%, radius 120%,#691179 0%,#661076 25%,#3A0878 60%,#20034F 100% );
   -fx-background-insets: 0, 2;
}

/**
 * Estilo para botones como "START", "CANCEL" o "SAVE"
 */
.boton-general {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%,  #FFF8FF 50%,   #FFF8FF 50%, #DC8CFE 100% ),
      radial-gradient(center 50% 40%, radius 120%,#691179 0%,#661076 25%,#3A0878 60%,#20034F 100% );
   -fx-background-radius: 10, 9;
   -fx-background-insets: 0, 2;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia Bold";
}

/**
 * Estilo para el botón de información de cada modo de juego
 */
.boton-info-mode {
   -fx-shape:  "M50,0 A50,50 0 1,1 49.99,0 Z";
   -fx-background-color: 
      linear-gradient(to top, #DC8CFE 0%,  #FFF8FF 50%,   #FFF8FF 50%, #DC8CFE 100% ),
      radial-gradient(center 50% 40%, radius 120%,#691179 0%,#661076 25%,#3A0878 60%,#20034F 100% );
   -fx-background-insets: 0, 2;
}

/**
 * Estilo para el botón hexagonal de edición de perfil, incluye el la imagen del lápiz
 */
.boton-edicion-perfil {
    -fx-shape: "M 50 0 L 100 25 L 100 75 L 50 100 L 0 75 L 0 25 Z";
    -fx-background-color: #896E1D;
}

/**
 * Estilo para los botones para plegar y desplegar las diferentes secciones de información del menú desplegable de la pantalla principal
 */
.boton-plegable-intro,
.boton-desplegable-intro {
   -fx-shape: "M0 28.87 L16.67 0 L33.33 28.87 Z";

}

.boton-menu-desplegable{
   -fx-background-color:
   linear-gradient(to top, #DC8CFE 0%,  #FFF8FF 50%,   #FFF8FF 50%, #DC8CFE 100% ),
   radial-gradient(center 50% 40%, radius 120%,#691179 0%,#661076 25%,#3A0878 60%,#20034F 100% );
   -fx-background-radius: 7, 6;
   -fx-background-insets: 0, 2;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia Bold";
   -fx-font-size: 12px; 
}

/**
 * Estilo para el botón "code" de "JOIN GAME" en la parte de partida privada
 */
.boton-code {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%), #1B0359;
   -fx-background-insets: 0, 2;
   -fx-background-radius: 6, 5;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 14px; 
}

/**
 * Estilo para la forma triangular plegable de las secciones de información del menú desplegable de la pantalla principal
 */
.forma-triangulo-plegable,
.forma-triangulo-desplegable{
   -fx-fill: radial-gradient(center 52.76% 52.84%, radius 100%, #661076 0%, #691179 30%, #3A0878 64%, #20034F 96%, #20034F 100%);
   -fx-stroke: linear-gradient(to top right, #DC8CFE, #FFF8FF, #DC8CFE );
   -fx-stroke-width: 2;
}

/**
 * Estilo para la etiqueta del nombre de usuario
 */
.label-name {
   -fx-background-color: rgba(162,130,190,0.38);
   -fx-background-radius: 6, 5;
   -fx-text-fill: white;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 21px;
}

/**
 * Estilo para los títulos de cada escena del juego
 */
.label-titulos {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%), #1B0359;
   -fx-background-insets: 0, 2;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 36px;

}

/**
 * Estilo para los subtítulos de cada escena del juego
 */
.label-subtitulos {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%), #1B0359;
   -fx-background-insets: 0, 2;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 20px; 
}

/**
 * Estilo para las descripciones con recuadro rectangular visibles en cada sección de información del menú desplegable de la pantalla principal o en el historial durante el juego
 */
.label-descripcion-rectangular {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%), #321B69;
   -fx-background-insets: 0, 2;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 20px; 
}

/**
 * Estilo para las descripciones con recuadro redondeado visible en las ventanas "JOIN GAME"  o "CREATE GAME"
 */
.label-descripcion-redondeado {
   -fx-background-color:
      linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%), #321B69;
   -fx-background-insets: 0, 2;
   -fx-background-radius: 10, 9;
   -fx-text-fill: #e5e5e5;
   -fx-alignment: center;
   -fx-font-family: "Constantia";
   -fx-font-size: 20px; 
}

/**
 * ARROWS
 */
.arrow-back-button {
    -fx-shape: "M 25 19 L 13 29 L 25 39 L 20 45 L 0 29 L 19 13 Z";
    -fx-background-color:radial-gradient(center 50% 50%, radius 50%, repeat, #66287a 0%, #692f79 25.8%, #3a0878 74.5%, #1e034f 94.8%, #201f4f 99.5%, #201f4f 100%); 
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.black-arrow-back-button{
    -fx-shape: "M 25 19 L 13 29 L 25 39 L 20 45 L 0 29 L 19 13 Z";
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, repeat, #2f1363 94.8%, #19183c 99.5%, #201f4f 100%);
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.arrow-next-button {
    -fx-shape: "M10 5 L30 15 L10 25 Z";
    -fx-background-color:radial-gradient(center 50% 50%, radius 50%, repeat, #66287a 0%, #692f79 25.8%, #3a0878 74.5%, #1e034f 94.8%, #201f4f 99.5%, #201f4f 100%); 
    -fx-border-color: linear-gradient(from 91.5% 26.5% to 60.2% 74.9%, #dc8cfe 0%, #fff8ff 55.3%, #fff8ff 74.5%, #dc8cfe 100%);
    -fx-background-insets: 0;
    -fx-border-width: 3;
}

.square-pane{
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-background-color: #1b0359;
    -fx-border-color: #ffffff;  
}

.oval-pane{
    -fx-background-radius: 50; 
    -fx-border-radius: 50;       
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-background-color: #1b0359;
    -fx-border-color: #ffffff;  
}

.configuration-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.exit-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.information-introduction-icon-button{
    -fx-background-color: linear-gradient( to top right, #310a93, #8500d7, #ff1fc2, #220470);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 15; 
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.information-card-icon-button{
    -fx-background-color:radial-gradient(center 50% 40%, radius 120%, #691179 0%, #220470 60%, #20034F 100%);
    -fx-border-color: linear-gradient(to top, #DC8CFE 0%, #FFF8FF 50%, #FFF8FF 50%, #DC8CFE 100%);
    -fx-background-insets: 0;
    -fx-shape: "M50,0 A50,50 0 1,1 49.99,0 Z";
    -fx-border-width: 3;
}